# Notas de aula:

In [1]:
x = []
print(bool(x))

False

In [6]:
a = bytes([0x41,0x42,0x43,0x44])
b = 'ABCD'

print(a)
print(b)
print(a + b)

b'ABCD'
ABCD

TypeError: can't concat str to bytes

In [7]:
print(a.decode('utf-8')+b)

ABCDABCD

In [8]:
from string import Template

In [15]:
templ = Template("você está assistindo ${curso} de ${instrutora}")

In [16]:
frase_2 = templ.substitute(curso='Python Avançado',
                           instrutora='Professora')
frase_2

'você está assistindo Python Avançado de Professora'

In [17]:
dados = {'curso': 'Python Avaçado',
         'instrutora': 'Jessica Terminal'}
frase_3 = templ.substitute(dados)
frase_3

'você está assistindo Python Avaçado de Jessica Terminal'

In [18]:
lista_1 = [True,True,True]
lista_2 = [True,False,False]

In [19]:
print(all(lista_1))

True

In [20]:
print(any(lista_1))

True

In [21]:
print(all(lista_2))

False

In [22]:
print(any(lista_2))

True

In [23]:
dias_pt = ['dom','seg','ter','qua','qui','sex','sab']
dias_eng = ['sun','mon','tue','wed','thu','fri','sat']

In [24]:
# a função iter ajuda a interar sobre um objeto
iterador = iter(dias_pt)

In [25]:
for x in range(3):
    print(next(iterador))

dom
seg
ter

In [27]:
#É util para ler arquivos de forma 'lasy'
with open('dados.txt','r') as fp:
    for linha in iter(fp.readline,''):
        print(linha)

essa e a linha 1

essa e a linha 2

essa e a linha 3

essa e a linha 4

essa e a linha 5

essa e a linha 6

In [29]:
for i,dia in enumerate(dias_pt):
    print(i,dia)

0 dom
1 seg
2 ter
3 qua
4 qui
5 sex
6 sab

In [30]:
# a função filter permite usar outra função para filtrar uma lista

def filtro_pares(x):
    return x%2 == 0

In [34]:
numeros = [1,2,3,4,66,765,987,2]

In [36]:
list(filter(filtro_pares,numeros))

[2, 4, 66, 2]

False

In [38]:
#Map aplica uma transformação a cada um dos elementos (tipo o .apply do pandas)
list(map(lambda x:x**2,numeros))

[1, 4, 9, 16, 4356, 585225, 974169, 4]

In [39]:
#Itertools ajuda a criar iteradores
import itertools

In [40]:
nomes = ['Cícero','Mônica','Eliza','Jaime']

In [41]:
#.cycle permite iterar sobre os itens de maneira cíclica:
ciclo = itertools.cycle(nomes)
for i in range(12):
    print(next(ciclo))

Cícero
Mônica
Eliza
Jaime
Cícero
Mônica
Eliza
Jaime
Cícero
Mônica
Eliza
Jaime

In [42]:
#accumulate realiza operações cumulativas
valores = [10,20,30,40,50,30,20,10]
acumulado = itertools.accumulate(valores)
list(acumulado)

[10, 30, 60, 100, 150, 180, 200, 210]

In [48]:
acumulado2 = itertools.accumulate(valores,max)
list(acumulado2)

[10, 20, 30, 40, 50, 50, 50, 50]

In [50]:
#Funções podem receber argumentos de tamanho variável 
def adicao(*args):
    return sum(args)

adicao(10,5,5)
#obs: eu originalmente criaria um argumento único como uma 
# isso tb pode ser feito da seguinte maneira: 
valores = [10,5,5]
adicao(*valores)

#MAS ATENÇÃO!Se a função também recebe argumentos posicionais, isso pode levar a
#problemas

20

In [52]:
#Usando funções Lambda junto com a função map():
temp_cel = [0,12,34,100]
temp_far = [32,65,100,212]

#celcius para far:
result = map(lambda x:(x*9/5)+32, temp_cel)
print(list(result))

[32.0, 53.6, 93.2, 212.0]

In [53]:
## Coleções avançadas:
import collections

In [54]:
#Tuplas nomeadas, named tuples (exemplo do ponto cartesiano,
#ao longo do código pode se tornar confuso):
ponto = (10,20) # quem é x, quem é y? meu deus estou confuso

In [55]:
#usando uma named tuple nesse cenário:
coordenadas = collections.namedtuple("Coordenadas",['x','y'])

In [56]:
ponto1 = coordenadas(10,20)

In [58]:
ponto1.x # da pra acessar fácil as coordenadas

10

In [60]:
ponto1 #lembra muito um jeito maneirinho de criar uma classse

Coordenadas(x=10, y=20)

In [63]:
#da pra alterar o valor de um dos parâmetros: 
ponto1= ponto1._replace(x=40)

In [64]:
ponto1

Coordenadas(x=40, y=20)

In [68]:
#Default Dict
frutas = ['banana','banana','banana','laranja','laranja''laranja',
          'melao','melao','melao','abacaxi','abacaxi','abacaxi']

contador_frutas = collections.defaultdict(int) #--> essa função int serve para inicializar os valores como zero

for fruta in frutas:
    contador_frutas[fruta] += 1

contador_frutas

defaultdict(int,
            {'banana': 3,
             'laranja': 1,
             'laranjalaranja': 1,
             'melao': 3,
             'abacaxi': 3})

In [69]:
#Contando coisas com o Counter(que é uma subclasse de Counter)

turma1 = ['Pedro','Pedro','João','Bruno','Maria','Maria','Eduarda']
turma2 = ['Pedro','João','Bruno','Maria','Maria','Eduarda','Vitor','Thiago','Maria']

In [76]:
counter_1 = collections.Counter(turma1)
counter_2 = collections.Counter(turma2)

In [79]:
print(counter_1)
print(counter_2)

Counter({'Pedro': 2, 'Maria': 2, 'João': 1, 'Bruno': 1, 'Eduarda': 1})
Counter({'Maria': 3, 'Pedro': 1, 'João': 1, 'Bruno': 1, 'Eduarda': 1, 'Vitor': 1, 'Thiago': 1})

In [81]:
#Uma coisa interessante é que vc consegue buscar os mais comuns assim:
print(counter_1.most_common(3))
print(counter_2.most_common(3))

[('Pedro', 2), ('Maria', 2), ('João', 1)]
[('Maria', 3), ('Pedro', 1), ('João', 1)]